attached_assets/antigravity-awesome-skills-main_1779150016792.zip filter=lfs diff=lfs merge=lfs -text
attached_assets/claude-code-best-practice-main_1779150129450.zip filter=lfs diff=lfs merge=lfs -text
attached_assets/open-design-main_1779150188935.zip filter=lfs diff=lfs merge=lfs -text
attached_assets/openclaw-main_1779149810948.zip filter=lfs diff=lfs merge=lfs -text
attached_assets/open-design-main_1779177783836.zip filter=lfs diff=lfs merge=lfs -text
attached_assets/openclaw-main_1779177567578.zip filter=lfs diff=lfs merge=lfs -text
attached_assets/awesome-llm-apps-main_1779226890716.zip filter=lfs diff=lfs merge=lfs -text
